body{
    width:100vw;
    height:100vh
}

#identityContainer{
    margin-top: 25vh;
    height:50vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.column{
    width:40%;
    height:100%;
}

.column.small{
    width:30%;
    height:100%;
}

#photo{
    /*width:80%;*/
    height:100%;
    width:80%;
    background-image: url(../img/PERSO_NORMAL.png);
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 4px;
    border-color: #000000;
    border-radius: 1px;
    box-shadow: 10px 10px 0px 0px #000000;
    transition: 0.25s transform,0.25s box-shadow,0.25s background-color,0.1s background-image;
    
}

#photo:hover{
    transform:translate(10px,10px);
    box-shadow:0px 0px 0px 0px #000000;
    background-image: url(../img/PERSO_BLINK.png);
}

h2.infos{
    font-size: 2em;
}

.section.black{
    margin-top: 10vh;
    padding-top: 1vh;
    height:80vh;
    flex-direction: column;
}

#cardsAssociation{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.cardAssociation{
    height:55vh;
    width:35vw;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #ffa800;
    border-radius: 1px;
    box-shadow: 10px 10px 0px 0px #ffa800;
    transition: 0.25s transform,0.25s box-shadow,0.25s background-color,0.1s background-image;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.cardAssociation:hover{
    transform:translate(10px,10px);
    box-shadow:0px 0px 0px 0px #000000;
}

h1.miniTitle{
    color:black;
    font-size: 1.45em;
    margin-left: 1vw;
    margin-bottom: 2%;
    width:98%;
}

.text{
    color:black;
    margin-left: 0vw;
    width:93%;
    font-size: 1.25vw;
    margin-top:0;
}

h1{
    margin:0;
}

h2{
    margin:0;
}

.logoAssoc{
    height: 60%;
    width:50%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.section{
    height: fit-content;
    flex-direction: column;
}

.cardAssociation.bdabba{
    background-image: url("../img/BDABBA_V1.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom;
}

.cardAssociation.sv{
    background-image: url("../img/SECONDE_VIE_V1.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom;
}

.card.loisir{
    height:30vh;
    width:20vw;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #000000;
    border-radius: 1px;
    box-shadow: 10px 10px 0px 0px #000000;
    transition: 0.25s transform,0.25s box-shadow,0.25s background-color,0.25s background-image;
    display:flex;
    
    flex-direction: column;
    align-items: flex-end;
}

.card.loisir.couture{
    background-color: #ffa800;
    background-image: url("../img/COUTURE.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.loisir.marteau{
    background-color: #ffa800;
    background-image: url("../img/MARTEAU.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.loisir.theatre{
    background-color: #ffa800;
    background-image: url("../img/THEATRE.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.loisir.webdesign{
    background-color: #ffa800;
    background-image: url("../img/WEBDESIGN.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.loisir.invisibleImage{
    background-image: none;
    background-color: white;
}

.invisible{
    opacity:0%;
}

.visible{
    opacity:100%;
}


.card.loisir:hover{
    transform:translate(10px,10px);
    box-shadow:0px 0px 0px 0px #000000;
}

.cardsLoisirs{
    display:flex;
    justify-content: space-around;
}

.textSmallCards{
    margin-left:1vw;
}

.miniTitle.loisir{
    height:30%;
    width:98%;
    padding-left: 2%;
    transition:0.1s opacity;
}

.textSmallCards.loisir{
    height:70%;
    width:98%;
    padding-left: 2%;
    transition:0.1s opacity;
}

.text{
    font-size: 1.25vw;
}

@media only screen and (max-width :800px ){
    #identityContainer{
        flex-direction: column;
        height:25vh;
        width:100vw;
    }

    h2.infos{
        font-size: 4vw;
    }

    #photo{
        height:15vh;
        margin-bottom: 5vh;
    }

    #cardsAssociation{
        height:75vh;
        flex-direction: column;
    }

    .cardAssociation{
        height:42.5%;
        width:60vw;
        margin-bottom: 5vh;
    }

    h1.miniTitle{
        font-size: 4vw;
    }

    h2.text{
        font-size: 1.75vw;
    }

    .cardsLoisirs{
        height:75vh;
        flex-direction: column;
        align-items: center;
    }

    .card.loisir{
        height:20%;
        width:60%;
    }

    h2.textSmallCards.loisir{
        font-size: 3vw;
    }
}

@media only screen and (max-width :500px ){
    #identityContainer{
        flex-direction: column;
        height:25vh;
        width:100vw;
    }

    h2.infos{
        font-size: 5vw;
    }

    #photo{
        height:15vh;
        margin-bottom: 5vh;
    }

    #cardsAssociation{
        height:75vh;
        flex-direction: column;
    }

    .cardAssociation{
        height:42.5%;
        width:60vw;
        margin-bottom: 5vh;
    }

    h1.miniTitle{
        font-size: 4vw;
    }

    h2.text{
        font-size: 3.2vw;
    }

    .cardsLoisirs{
        height:75vh;
        flex-direction: column;
        align-items: center;
    }

    .card.loisir{
        height:20%;
        width:60%;
    }

    h2.textSmallCards.loisir{
        font-size: 3vw;
    }
}

@media only screen and (max-width :400px ){
    h2.text{
        font-size: 2.5vw;
    }
}